<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="106" android:versionName="1.6" package="com.crow.cube_quest">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<!-- Require OpenGL ES 2 (for maps) -->
	<uses-feature android:glEsVersion="0x00020000" android:required="true" />
	<!-- Track location -->
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/AppTheme">
		<!-- Required for apps that target 9.0> for some reason -->
		<uses-library android:name="org.apache.http.legacy" android:required="false" />
		<!-- Google Play Games -->
		<meta-data android:name="com.google.android.gms.games.APP_ID" android:value="@string/app_id" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
		<!-- Google Maps -->
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/google_maps_key" />
	</application>
</manifest>